
/* Navbar */
.navbar-nav a {
  font-size: 18px;
}

.Nav-link {
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.Nav-link:hover {
  transform: scale(1.1);
}

.Nav-link.active {
  font-weight: bold;
}

/* hero */
@media (max-width: 768px) {
  .hero .display-3 {
    font-size: 2rem !important;
  }
  .hero .lead {
    font-size: 1rem !important;
  }
}

/*butons catetegories */
@media (max-width: 576px) {
  .buttons {
    margin-top: 20px;
  }
  .btn {
    font-size: 12px;
    padding: 0.375rem 0.75rem;
  }
}


/* Footer */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}